:root {
    /* --bgcolor:#32353b;
    --dark:#151515;
    --textcolor:#e3e3e3;
    --accent1:#1fb2eb;
    --accent2:#e3c843; */
    
    --bgcolor:#212121;
    --dark:#151515;
    --textcolor:#FBF8F7;
    --accent1:#3E2BD2;
    --accent2:#ABABEC;
}

body{
    margin: 0;
    overflow-x: hidden;
    background-color: var(--bgcolor);
  }
  .rgtext{
    background: radial-gradient(150.81% 167.43% at 0% 0%, var(--accent1) 31.85%, var(--accent2) 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
  }
  .underline-gradient {
    background: linear-gradient(90deg, var(--accent1), var(--accent2));
    background-size: 0% 3px;
    background-repeat: no-repeat;
    background-position: left bottom;
    transition: background-size 300ms ease;
  }

  .underline-gradient:hover {
    background-size: 100% 3px;
  }
  @keyframes fadeIn {
    from {opacity: 0%;}
    to{opacity: 100%;}
  }
  @keyframes fadeOut {
    from {opacity: 100%;}
    to{opacity: 0%;}
  }

  @keyframes radialGradienthover {
    from   {background: radial-gradient(133.53% 172.98% at 0% 0%, var(--dark) 31.85%, var(--accent1) 100%);}
    to {background: radial-gradient(400% 172.98% at 0% 0%, var(--dark) 31.85%, var(--accent1) 100%);}
}